/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  --primary-color: #a80000;
  --secondary-color: #750707;
  --primary-font: "'Poppins', sans-serif";
}

.error-message-generic p {
  color: var(--primary-color) !important;
  word-break: break-word;
  white-space: break-spaces;
}

.break-word {
  word-break: break-word;
}

.no-border {
  border: none !important;
}

.max-width-100 {
  max-width: 100% !important;
}

.no-data {
  color: var(--red-color);
  text-transform: uppercase;
  margin-bottom: 50px;
}

.no-data-button {
  padding: 15px 25px;
  background: var(--red-color);
  color: white !important;
  border-radius: 5px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 1px solid;
}
* {
  font-family: "Poppins", sans-serif;
  line-height: "50px";
}
.section-1 {
  background-image: url("../images/landing-page-bg.png");
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0f8077;
  color: #ffffff;
  font-weight: 400;
}
.top-section-text {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
}
.section-2 {
  background-image: url("../images/section2-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #606060;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.section-5 {
  /* background-image: url("../images/section5-bg.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #606060;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.section-6 {
  background-image: url("../images/section6-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #606060; */
  font-family: "Poppins", sans-serif;
  /* color: #ffffff; */
}
/* 
.section-6 {
  background-image: url("../images/section7-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #606060; */
/* font-family: "Poppins", sans-serif; */
/* color: #ffffff; */
/* } */
.section6 > h2 {
  background-color: #09857c;
  color: white;
}
/* .section6 + .row{

} */
.section7 {
  background-image: url("../images/section7-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #606060;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.section7 > Button {
  background-color: #09857c;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 20px;
}
.section8 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #faf8f8;
  font-family: "Poppins", sans-serif;
}
/* .section2::before {
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
} */
.section-3 {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
.section-3 > .s3-col-left {
  background-color: #feefef;
  background-image: url(../images/logo.png);
  background-position: center;
}
.container-fluid {
  padding: 0px;
  width: 95% !important;
}
.btn-bg-login {
  background-color: black !important;
  color: white !important;
  margin-right: "10px";
}
.primary-bg-btn {
  background-color: #fcc2c2 !important;
  color: black !important;
}
h1 {
  font-weight: 600;
}
ul > li {
  list-style: none;
}
.chat-bg-doctor {
  background-color: #fcc2c2;
  font-size: 11px;
  border-radius: 3px;
}
.chat-bg-patient {
  background-color: #0f8077;
  font-size: 11px;
  border-radius: 3px;
}
